<header id="header" class="desktop-only-header">
  <nav>
    <ul>
      <li><a href="/index.html">Home</a></li>
      <li><a href="/posts.html">Blog</a></li>
      <li><a href="/projects.html">Projects</a></li>
      <li><a href="/photos.html">Photo Gallery</a></li>
      <li><a href="#footer">Contact</a></li>
    </ul>
  </nav>
</header>

<header id="header" class="mobile-only-header">
  <nav>
    <ul>
      <li><a href="/index.html">Home</a></li>
      <li><a href="/posts.html">Blog</a></li>
      <li><a href="/projects.html">Projects</a></li>
      <li><a href="/photos.html">Photo Gallery</a></li>
    </ul>
  </nav>
</header>
