<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121784595-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-121784595-1');
  </script>


  <title>Rohan's Website - Blog</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="/assets/css/main.css" />
  <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
  <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>

  <body>
    <!-- Wrapper -->
      <div id="wrapper">
        {% include header.html %}
        {% include footer.html %}
        <!-- Main -->

        <div id = "main">
            <div class="home"; style = "width: 100%;">

              {{ content }}

              <h1> Blog </h1>
              <div style = "width: 90%">
                <ul class="post-list">
                  {% for post in site.posts %}
                    <li style="list-style-type: none;">
                      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                      <span class="post-meta">{{ post.date | date: date_format }}</span>
                      <h2>
                        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                      </h2>
                        <p>TLDR: {{post.summary | escape}} <br>
                        Categories: <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{post.categories}}</a></p>
                    </li>
                  {% endfor %}
                </ul>
            </div>
          </div>
        </div>
        </main>
      </div>
    <!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.poptrox.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/assets/js/main.js"></script>
  </body>

</html>
