<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121784595-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-121784595-1');
  </script>


  <title>Rohan's Website - {{page.title}}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="/assets/css/main.css" />
  <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
  <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>

<body>
  <!-- Wrapper -->
  <div id="wrapper">
    {% include header.html %}
    {% include footer.html %}
    <!-- Main -->
    <div id="main">
      <div class="home" ; style="width: 100%;">
        <h1> Categories </h1>
        <div style="width: 80%; padding-left: 3em;">
          {{ content }}
          <h3>Personal</h3>
          <ul>
          {% for post in site.categories.Personal%}
            <li>
              <article class="archive-item">
                <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
                <span class="post-meta">{{ post.date | date: date_format }}</span>
                <br>
              </article>
            </li>
          {% endfor %}
          </ul>
          <!-- {% for category in site.categories %}
          <div class="archive-group">
            {% capture category_name %}{{ category | first }}{% endcapture %}
            <div id="#{{ category_name | slugize }}"></div>
            <p></p>

            <h2 style =class="category-head">{{ category_name }}</h2>
            <a name="{{ category_name | slugize }}"></a>
            <ul>
            {% for post in site.categories[category_name] %}
            <article class="archive-item">
              <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
              <span class="post-meta">{{ post.date | date: date_format }}</span>
              <br>
            </article>
            {% endfor %}
            </ul>
          </div>
          {% endfor %} -->
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.poptrox.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>

</body>

</html>
